* {
    margin: 0;
    padding: 0;
}
 body {
    
}
div#estilo {
    background: url(../img/nec_vision.jpg) no-repeat center center;
    opacity: 0.8;
    filter: alpha(opacity=30);
 
    box-shadow: 2px 5px 5px rgba(50, 50, 50, 0.5);
    width: 100%;
    overflow: hidden;
}

h1.display-4#fonte_jumbo {
    color: rgb(0,0,128);
    font-weight: 400;
}

p.lead#texto_jumbo {
    opacity: 1;
    color: rgb(20,20,160);
    font-weight: 600;
}
.carousel-item > img {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
   
    max-height: 25rem;
}
img.second-slide {
    width: auto;
    height: auto;
    background-size: cover;
    
}

div#ajuste {
    box-shadow: 2px 6px 5px rgba(50, 50, 50, 0.5);
    align-items: center;
    margin-right: 50px;
    margin-left: 130px;
}
a#botao_personalizado {
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    color: black;
}
a#botao_personalizado:hover {
        background-color: rgb(237,110,1);
        
        border: 1px solid black;
        color: aliceblue;
    }

div#ajustedomenu {
    align-items: center;
    margin-right: 30px;
    padding-left: 30px;
    filter: alpha(opacity=80)
}
li#textopersonalisado.dropdown.nav-item{
    padding-top: 8px;
}

