@model JornalNoticia.Models.Noticia



@{
    ViewBag.Title = "About";
}
<br />
<br />
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="estilo">
        <div class="container">
            <h1 class="display-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Olá Mundo!</font></font></h1>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Este é um modelo para um simples site de marketing ou informação. </font><font style="vertical-align: inherit;">Inclui uma grande frase chamada de jumbotron e três partes de conteúdo de apoio. </font><font style="vertical-align: inherit;">Use-o como ponto de partida para criar algo mais único.</font></font></p>

        </div>
    </div>


</main>
<script type="text/javascript">

    function desbloquear() {
        document.getElementById("enviar").disabled = true;
        document.getElementById("Submit").disabled = false;
        document.getElementById("desbloqueio").disabled = true;

    }
    /* function selecionar() {
         var selecionado = document.getElementById("categoria");
         var item = selecionado.options[selecionado.selectedIndex].value;
         document.getElementById("itemcategoria").value = item;
     }*/

    function send() {
        alert("Mensagem enviada");



        document.getElementById("publicar").submit();


    }
    function habilitar() {
        document.getElementById("enviar").disabled = false;
        document.getElementById("Submit").disabled = true;
        document.getElementById("desbloqueio").disabled = false;
        document.getElementsByName("Submit").submit();
    }
</script>

<div class="row">

    <div class="col-sm-12">
        <div class="container">
            @{
                var op = ViewBag.Upload;
                if (op != null)
                {

                    <form method="post" id="publicar" action="File" disabled>
                        <div class="form-group">
                            <label for="publicar">Publicação</label>
                            <input type="text" class="form-control" id="titulo" placeholder="Digite aqui seu título" name="titulo">
                            <small id="emailHelp" class="form-text text-muted">Digite o titulo da sua publicação.</small>

                        </div>
                        <div class="form-group">
                            <label for="corponoticia">Texto Completo</label>
                            <Textarea class="form-control" linhas="15" cols="8" id="corponoticia" placeholder="Escreva sua publicação" name="corponoticia"></Textarea>
                        </div>
                        <div class="form-group">
                            <label for="categoria">Categoria</label>
                            <!-- <select name="categoria.IdCategoria" id="categoria">
                               foreach (List<JornalNoticia.Models.Noticia> lista in Model)
                                {
                                    foreach (var item in lista)
                                    {
                                        <option value="item.categoria.IdCategoria" name="categoria">item.categoria.TipCategria</option>
                                    }
                                }
                            </select>-->

                            @Html.DropDownList("categoria.TipCategria", new SelectList(ViewBag.teste));
                          
                        </div>


                        <input type="hidden" value="@ViewBag.Upload" name="imagem.caminhoimagem" />

                        <button type="button" id="form" class="btn btn-primary" onclick="send()">Enviar</button>
                    </form>
                }
                else
                {

                    <div class="col-sm-12">
                        @using (Html.BeginForm("About", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <input type="file" name="FileUpload" accept="image/*" />
                            <input type="submit" name="Submit" id="Submit" value="Upload" />
                        }


                    </div>


                }



            }





            <br />
            <br />

            <br />

            <div class="row">



                @{
                    var status = ViewBag.status;

                    if (op == null && status == "Funcionou")
                    {
                        <script>
                            document.getElementById("titulo").disabled = true;
                            document.getElementById("corponoticia").disabled = true;
                        </script>

                        <div class="container">

                            <div class="alert alert-success">
                                <strong>Sucesso!</strong>Enviado para o banco de dados.
                            </div>
                        </div>

                    }
                    else
                    {

                    }

                }
            </div>



        </div>
    </div>
</div>
